<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create operator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../static/js/operators.js"></script>
  <script src="../static/js/common.js"></script>
  <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
</head>
<body>
 <header>
    <div style="display: flex;">
    <h1 style="flex: 5;">Create operator</h1>
    <select style="flex: 1; height: 4rem; margin-top: 2rem;background: linear-gradient(#29a3f7, #353f54);" name="type" id="type">
        <option value="POC" style="color: black;" selected>POC</option>
        <option value="DEV" style="color: black;">DEV</option>
    </select>
    </div>
</header>
<div class="container">
    <ul class="nav nav-tabs">
        <li><a href={{ url_for('dashboard') }}>Home</a></li>
        <li><a href={{ url_for('list_secrets') }}>Secrets</a></li>
        <li><a href={{ url_for('list_operators') }}>Operators</a></li>
    </ul>
</div>
 <ol class="breadcrumb">
     <li><a href={{ url_for('dashboard') }}>Home</a></li>
     <li><a href={{ url_for('list_operators') }}>Operators</a></li>
     <li class="current">Create Operator</li>
 </ol>
 <br>
 <br>
 <div class="col-lg-12" id="message_div"></div>
<div class="title">
    <label for="createOp">Create Operator:</label>

    <select id="createOp">
        <option value="helm">Existing Helm chart</option>
        <option value="existing">Existing kubernetes environment</option>
        <option value="scratch">Build from scratch</option>
    </select>
    <button type="button" id="createOperator" class="btn btn-primary">GO</button>

    <div id='loadingmessage' style='display:none'>
        <img src='../static/images/loader.gif'/>
    </div>

    <!-- Modal HTML Markup -->
    <form id="createHelmModal" name="createHelm" class="modal fade" role="dialog" method="post">
        <div class="modal show" id="helm_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title text-center text-danger">Create helm operator</h4>
                    </div><!-- /.modal-header -->
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-md-12 center-block text-left">
                                <label class="control-label">Helm Chart Name:</label>
                                <input class="form-control" id="chart_name" type="text" placeholder="Helm Chart Name" value="" name="chart_name" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 center-block text-left">
                                <label class="control-label">Helm Repo:</label>
                                <input class="form-control" id="chart_repo" type="text" placeholder="Helm Repo" value="" name="chart_repo" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 center-block text-left">
                                <label class="control-label">Operator Name:</label>
                                <input class="form-control" id="op_name" type="text" placeholder="Operator Name" value="" name="op_name" required="required"/>
                            </div>
                        </div>
                    </div><!-- /.modal-body -->
                    <div class="modal-footer">
                        <input class="btn btn-md btn-danger" data-dismiss="modal" type="button" onclick="createHelmoperator()" value="Create"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </form>


    <form id="createExistModal" name="createExist" class="modal fade" role="dialog" method="post">
        <div class="modal show" id="exist_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title text-center text-danger">Create operator from existing environment</h4>
                    </div><!-- /.modal-header -->
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-md-12 center-block text-left">
                                <label class="control-label">Namespace:</label>
                                <input class="form-control" id="ns" type="text" placeholder="Namespace" value="" name="ns" required="required" />
                                <label class="control-label">Group Name:</label>
                                <input class="form-control" id="gname" type="text" placeholder="Group Name" value="" name="group_name" required="required" />
                                <label class="control-label">Domain Name:</label>
                                <input class="form-control" id="dname" type="text" placeholder="Domain Name" value="" name="domain_name" required="required" />
                                <label class="control-label">Version:</label>
                                <input class="form-control" id="vname" type="text" placeholder="Version" value="" name="version" required="required" />
                                <label class="control-label">Operator Name:</label>
                                <input class="form-control" id="operator_name" type="text" placeholder="Operator Name" value="" name="op_name" required="required"/>
                                <hr>
                                <label class="control-label">Kind:</label>
                                <input class="form-control" id="kind" type="text" placeholder="Kind" value="" name="kind" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 center-block text-left">
                                <div id="dropdown-div" >
                                    <select id="PersistentVolumeClaim">
                                        <option value="PersistentVolumeClaim">--PVC--</option>
                                        <option value="PersistentVolumeClaim1">mln0-0</option>
                                        <option value="PersistentVolumeClaim2">mln0-0</option>
                                    </select>
                                   
                                    <select id="ConfigMap">
                                        <option value="ConfigMap">--CONFIGMAP--</option>
                                        <option value="ConfigMap1">nodered</option>
                                        <option value="ConfigMap2">kafka</option>
                                        <option value="ConfigMap3">zookeper</option>
                                    </select>
                                   
                                    <select id="Secret">
                                        <option value="SECRET">--SECRET--</option>
                                        <option value="dep1">dev</option>
                                        <option value="prod">prod</option>
                                    </select>
                                 
                                    <select id="StatefulSet">
                                        <option value="STATEFULSET">--STATEFULSET--</option>
                                        <option value="test">test</option>
                                    </select>
                                     
                                    <select id="JOB">
                                        <option value="JOB">--JOB--</option>
                                        <option value="test">test</option>
                                    </select> 
                            
                                    <select id="NetworkPolicy">
                                        <option value="NetworkPolicy">--NetworkPolicy--</option>
                                        <option value="test">test</option>
                                    </select>
                                    
                                </div>
                                <br>
                                <div id="bar"></div>
                                <br>
                                <button type="button" id="createkind" class="btn btn-primary">Add</button>
                            </div>
                        </div>

                    </div><!-- /.modal-body -->
                    <div class="modal-footer">
                        <button type="button" id="createOpex" class="btn btn-md btn-danger">Create Operator</button>
                        <!--<input class="btn btn-md btn-danger" data-dismiss="modal" type="button" onclick="createExistOperator()" value="Create"/>-->
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </form>

</div>
</body>
</html>


