<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/css/style.css" type="text/css" />
</head>
<body>
 <header>
    <h1>Welcome !!</h1>
  </header>
<div class="container">
  <ul class="nav nav-tabs">
      <li><a href={{ url_for('dashboard') }}>Home</a></li>
      <li><a href={{ url_for('list_secrets') }}>Secrets</a></li>
      <li><a href={{ url_for('list_operators') }}>Operators</a></li>
  </ul>
</div>
<div class="title" style="display: flex; justify-content: center; margin-top: 2%;">
	 <img src="static/images/geno.png" alt="Incident"/>
</div>
</body>
</html>

